# Node
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr



# Build outputs
dist/
build/

# Logs
*.log

# Environment
.env
.env.local
.env.*.local
graphhopper/
